BOT_TOKEN=1234567890:qwertyuiopasdfghj-jklzxcvbnm
DB_URL=postgresql+asyncpg://username:password@host:port/db-name
USER_AGREEMENT_URL=https://docs.google.com/document/d/1234567890qwertyuiopasdfghjk/edit?usp=sharing
ADMINS=123456789,321321321
REDIS_HOST=localhost
REDIS_PORT=6379